// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
}
 
footer {
  display: flex;
  position: relative;
  bottom: 0;
}

.footer-links {
  width: 35%;
  display: flex;
  justify-content: center;
}

.footer-info {
  width: 65%;
}